@font-face {
  font-family: Sahel;
  src: url("../fonts/Sahel.eot");
  src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: Nastaliq;
  src: url("../fonts/IranNastaliq.ttf");
  font-weight: normal;
}
.hamburger-menu {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #262626;
}

.navbar-hamburger__menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

.btn {
  color: #d3ab55;
  font-family: Sahel, Tahoma;
  font-size: 1rem;
  border: 1px solid #d3ab55;
  background-color: transparent;
  margin-top: 2rem;
  padding: 0.5rem 4rem;
}

@font-face {
  font-family: Sahel;
  src: url("../fonts/Sahel.eot");
  src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: Nastaliq;
  src: url("../fonts/IranNastaliq.ttf");
  font-weight: normal;
}
.hamburger-menu {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #262626;
}

.navbar-hamburger__menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

.btn {
  color: #d3ab55;
  font-family: Sahel, Tahoma;
  font-size: 1rem;
  border: 1px solid #d3ab55;
  background-color: transparent;
  margin-top: 2rem;
  padding: 0.5rem 4rem;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center;
  position: relative;
  background-size: cover;
}
.header-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header-icon {
  padding: 1.5rem;
  margin: 3rem;
  color: #d3ab55;
  font-size: 4rem;
  border: 1px solid #d3ab55;
  border-radius: 50%;
}
.header-title {
  color: #bbb;
  font-size: 3rem;
  font-family: Sahel, Tahoma;
}
.header-subtitle {
  color: #bbb;
  font-size: 1rem;
  font-family: Sahel, Tahoma;
  text-align: center;
}
.header-banner {
  padding: 1.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-banner__title {
  color: #d3ab55;
  font-family: Nastaliq, Tahoma;
  font-size: 5rem;
}
.header-banner__subtitle {
  color: #bbb;
  font-family: Sahel, Tahoma;
  font-size: 3rem;
  padding-top: 2rem;
}

.navbar {
  position: relative;
  z-index: 200;
}
.navbar-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navbar-navigation-left {
  width: 50vw;
  height: 200vh;
  background-color: #262626;
  position: fixed;
  left: -50vw;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation-left .navigation-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}
.navbar-navigation-left .navigation-left__img-1 {
  top: 60%;
  left: 15%;
}
.navbar-navigation-left .navigation-left__img-2 {
  top: 70%;
  left: 25%;
}
.navbar-navigation-left .navigation-left__img-3 {
  top: 80%;
  left: 35%;
}
.navbar-navigation-right {
  width: 50vw;
  height: 200vh;
  background-color: #1f1d1d;
  position: fixed;
  top: 0%;
  right: -50vw;
  padding-top: 10rem;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation-right .navigation-right__ul .navigation-right__li {
  list-style: none;
}
.navbar-navigation-right .navigation-right__ul .navigation-right__li .navigation-right-link {
  font-family: Sahel, Tahoma;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
  transition: all 0.5s;
}
.navbar-navigation-right .navigation-right__ul .navigation-right__li .navigation-right-link:hover {
  color: #d3ab55;
  letter-spacing: 4px;
}

.navbar-checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.navbar-checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.navbar-checkbox:checked ~ .navbar-hamburger__menu .hamburger-menu {
  transform: rotateZ(90deg);
}

.navbar-checkbox:checked ~ .navbar-hamburger__menu .hamburger-menu__line-1 {
  transform: rotateZ(-40deg);
}

.navbar-checkbox:checked ~ .navbar-hamburger__menu .hamburger-menu__line-2 {
  opacity: 0;
}

.navbar-checkbox:checked ~ .navbar-hamburger__menu .hamburger-menu__line-3 {
  transform: rotateZ(40deg);
}

.aboutUs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.aboutUs-left {
  width: 50%;
}
.aboutUs-left__img {
  width: 40vw;
  padding: 12rem 5rem 12rem 0;
  opacity: 0.7;
}
.aboutUs-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  direction: rtl;
  padding-right: 5rem;
}
.aboutUs-right__title {
  color: #d3ab55;
  font-family: Nastaliq, Tahoma;
  font-size: 80px;
  margin-bottom: 20px;
}
.aboutUs-right__subtitle {
  font-size: 40px;
  margin-bottom: 20px;
  color: #bbb;
  font-family: Sahel, Tahoma;
  text-align: center;
}
.aboutUs-right__stars {
  margin: 30px 0;
}
.aboutUs-right__star {
  font-size: 15px;
  color: #d3ab55;
  margin-left: 10px;
}
.aboutUs-right__description {
  font-family: Nastaliq, Tahoma;
  font-size: 25px;
  color: #bbb;
  direction: rtl;
  text-align: justify;
}
.aboutUs-right__description::first-letter {
  padding-right: 30px;
}/*# sourceMappingURL=main.css.map */irst-letter {
  padding-right: 30px;
}

.gallery {
  padding-top: 3rem;
}
.gallery .cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery .cards-wrapper .card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}
.gallery .cards-wrapper .card:hover .card-overlay {
  left: 0;
}
.gallery .cards-wrapper .card-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  color: #fff;
  background-color: rgba(211, 171, 85, 0.6);
  z-index: 10;
  transition: left 0.5s;
}
.gallery .cards-wrapper .card-overlay__title {
  font-family: Nastaliq, Tahoma;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}
.gallery .cards-wrapper .card-overlay__price {
  font-family: Sahel, Tahoma;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}
.gallery .cards-wrapper .card-overlay__btn {
  width: 150px;
  height: 40px;
  color: #d3ab55;
  background-color: #fff;
  font-family: Sahel, Tahoma;
  font-size: 14px;
  border: 1px solid #d3ab55;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}
.gallery .cards-wrapper .card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */